
#left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
}

@media only screen and (max-width: 768px) {
    #encloser{
        flex-direction: column;
    }
    #left{
        width: 70%;
    }
    #right #voting{
        height: 0px;
    }
}